/* buttons */
.btn-secondary {
  color: white;
}
.btn-info {
  background-color: $info;
}
/* TODO: make it so that its greyed out for example?*/
.btn-file {
  background-color: $info !important;
  border-color: $info !important;
  color: white !important;
}

/* sidebar */
.sidebar {
  background-color: $prim-col-grad-4 !important;
  color: #212529 !important;
}

/* navbar:
primary bg color, white font, white on hover, white active underline */
.bslib-navs-card-title {
  background-color: $primary;
  color: white;
  font-size: 12pt;
}
.nav-link {
  font-size: 10pt;
  color: $prim-col-grad-3;
  --bs-nav-link-hover-color: white;
  --bs-nav-underline-link-active-color: white;
}

/* accoridon */
.accordion-button:not(.collapsed) {
  background-color: $prim-col-grad-1 !important;
  color: white !important;
}
.accordion-button {
  background-color: $prim-col-grad-4;
}
/* custom tertiary color according (used for search tools) */
.accordion-tert .accordion-button:not(.collapsed) {
  background-color: $tert-col-grad-2 !important;
  color: white !important;
}
.accordion-tert .accordion-button {
  background-color: $tert-col-grad-4;
}
.accordion-tert .accordion-item {
  background-color: $tert-col-grad-5 !important;
}

/* custom class for a code style output*/
.code-output {
  display:block;
  padding:9.5px;
  margin:0 0 10px;
  margin-top:10px;
  line-height:20px;
  word-break:break-all;
  word-wrap:break-word;
  white-space:pre-wrap;
  border:1px solid rgba(0,0,0,0.15);
  border-radius:4px;
  font-family:monospace;
  background-color:$prim-col-grad-5 !important;
}

/* cards */
.card {
  border-width: 0;
}
/* custom note stlye card */
.card-note .card-header{
  padding: 8px;
}
.card-note .card-body{
  padding: 8px;
}
/* custom tertiary color card */
.card-tert .card-body{
  background-color: $tert-col-grad-5 !important;
}
.card-tert .card-header{
  background-color: $tert-col-grad-2 !important;
  color: white !important;
}

/* custom input cards (nested) */
.card .clean-card .card-body{
  background-color: $tert-col-grad-4 !important;
}
.card .clean-card-sec .card-body{
  background-color: $sec-col-grad-4 !important;
}



/* shinyTree resp. jstree */
.jstree-proton .jstree-clicked {
  background: $prim-col-grad-1 !important;
}

#sel_wp ~ .selectize-control .selectize-input {
  max-height: 100px;
  overflow-y: auto;
}

/* datatable */
.dataTables_wrapper .dataTable td {
  padding: 2px 2px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 2px 2px !important;  /* Adjust padding to make buttons smaller */
}
/* style for input DT similar to hot*/
.inputDT thead th {
    background-color: $sec-col-grad-5 !important;
  }
.inputDT tbody td {
  background-color: white;
}

/* list spacing */
ol.custom-indent {
  padding-left: 15px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.custom-indent .li {
  margin-bottom: 0px;
}

/* custom hr with little padding */
.hr-slim {
  margin: 0.1rem 0;
}

/* handsontable */
/* change header color of ht */
.handsontable th {
  background-color: $sec-col-grad-5 !important;
}

/* shiny inputs */
/* borders of selected input fields */
.form-control:focus {
  border-color: $secondary !important;
  box-shadow: 0 0 0 .25rem $sec-col-grad-4;
}
.form-control, .selectize-input, .form-control-shiny {
  background-color: white !important;
}
.shiny-input-container .radio input:not(:checked)  {
  border-color: $secondary !important;
  background-color: white !important;
}
.shiny-input-container .radio input:checked  {
  border-color: $secondary !important;
  background-color: $secondary !important;
}
.shiny-input-container .checkbox input:not(:checked)  {
  border-color: $secondary !important;
  background-color: white !important;
}
.shiny-input-container .checkbox input:checked  {
  border-color: $secondary !important;
  background-color: $secondary !important;
}

/* footer */
.wsl-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: $primary;
  color: white;
  padding: 10px 30px;
  z-index: 1000;
  text-align: left;
  box-shadow: 0 -2px 4px rgba(0,0,0,0.05);
}
